#set( $map = $util.dynamodb.toMapValues($ctx.args.patch) )
#set( $map.graphId = $util.dynamodb.toString(${ctx.args.graphId}) )
#set( $map.createdAt = $util.dynamodb.toString($util.time.nowISO8601() ))
#set( $map.id = $util.dynamodb.toString($util.autoId() ))

{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "graphId": $util.toJson($map.graphId),
    "seq": $util.toJson($map.seq),
  },
  "attributeValues": $util.toJson($map),
  "condition": {
    "expression": "attribute_not_exists(#id)",
    "expressionNames": {
      "#id": "graphId",
    },
  },
}
